.nav-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.nav-logo {
    grid-column: 2;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-left: 0;
}

.nav-links li,
.nav-links a {
    display: inline;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
}

.logo {
    width: 180px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.cta {
    padding: 15px 30px;
    font-size: 1.2rem;
    justify-self: end;
    background: #f5f7fa;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.cta:hover {
    background: #c3cfe2;
}